<a href="https://colab.research.google.com/github/vnzhere/Python-/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print function

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
#concatenation of strings

In [ ]:
print("Hello" + " World")

Hello World

In [ ]:
print(8)

8

In [ ]:
print(8+7)

15

basic data types

1. list
2. float
3. strings

In [ ]:
type(8)

int

In [ ]:
type("hi")

str

In [ ]:
type(5.2)

float

constants and variable

include under score if multiipe words are there as a variable.

In [ ]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [ ]:
marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

In [ ]:
hero1,hero2, hero3= "Iron man", "Captain America", "Bat man"
print(hero1)
print(hero2)
print(hero3)

Iron man
Captain America
Bat man

python is case sensitive

In [ ]:
x= y= z= 23
print(x)
print(y)
print(z)

23
23
23

#input function

In [ ]:
number_1= input("Enter num1 : ")
number_2= input("Enter num2 : ")
number_3= input("Enter num3 : ")
# concatenate the no as strings
sum = number_1+ number_2+number_3
print(sum)

Enter num1 : 1
Enter num2 : 2
Enter num3 : 3
123

In [ ]:
number_1= int(input("Enter num1 : "))
number_2= int(input("Enter num2 : "))
number_3= int(input("Enter num3 : "))
# int passes no as input then gives sum
sum = number_1+ number_2+number_3
print(sum)

Enter num1 : 1
Enter num2 : 2
Enter num3 : 3
6

In [2]:
#changing the data type in py:
num=5
type(num)
#this will change num into float
print (float (num))

5.0

#Basic datatypes in python
1. int
2. floating point
3. boolean
4. strings
5. complex

In [4]:
# integers
a= 8
print (a)

8

In [6]:
#floating point

b=2.3
print(b)
type(b)

2.3

float

In [7]:
#complex no.
c = 1 +3j
print(c)
type(c)

(1+3j)

complex

conversion of one data type to another

In [9]:
# int to float
x=10
print (x)
type(x)
y= float(x)
print(y)
type(y)

10
10.0

float

In [11]:
#float to int
x = 5.88
print(x)
type(x)
y= int(x)
print(y)
type(y)

5.88
5

int

boolean (t or f)

In [13]:
a= True
print(a)
type(a)

b= False
print (b)
type(b)

True
False

bool

In [14]:
a = 7 < 3
print(a)
type(a)

False

bool

In [15]:
a = 7 > 3
print(a)
type(a)

True

bool

Strings

In [16]:
print(" vending machine")

 vending machine

In [18]:
my_string= "Hello World"
print(my_string)
type(my_string)

Hello World

str

In [24]:
print("Hello"* 5)

HelloHelloHelloHelloHello

In [25]:
#slicing - indexing starts from 0
#5-1 will be sliced

my_string = "Program"
print (my_string [1:5])

rogr

In [26]:
#step (start,end,step value)
print(my_string[0:10:2])

Porm

In [28]:
#string concatenation
word_1 = "learning "
word_2 ="jojo"

print(word_1+ word_2)

learning jojo

Types of objects in python
1. immutable (value cannot be changed)
a. int
b. float
c. bool
d. tuple
e. strings

2. mutable (value can be changed)
a. list
b. set
c. dictionary

In [29]:
#list []

my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [32]:
# can have multiple datatypes
my_list=[2, 3, 8 , 'english' , True]
print(my_list)

[2, 3, 8, 'english', True]

In [33]:
#lists are mutable-------->> changeable

#add elements to a list

my_list=[2, 3, 8 , 'english' , True]
my_list.append(5)
print(my_list)

[2, 3, 8, 'english', True, 5]

In [34]:
# print elements of a list using their index

print(my_list[1])
print(my_list[4])

3
True

In [37]:
# lists allow duplicate value

list_1= [1,2,3,4,5,6,7,8,2,3]
print(list_1)
print(len(list_1))

[1, 2, 3, 4, 5, 6, 7, 8, 2, 3]
10

In [38]:
#initiating an empty liest

list_2 =[]
print (list_2)

list_2.append(5)
print(list_2)

[]
[5]

In [ ]:
#